html {
  font-size: 10px;
  font-family: 'Comfortaa', serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

* {
  box-sizing: border-box;
  color: #242a3c;
}

.router-container {
  height: calc(100vh - 8rem);
}
